body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background: #2a1419;
  color: #0d0c0cb2;
  padding: 1em;
}
nav a {
  margin-right: 1em;
  color: rgb(16, 12, 12);
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
main {
  padding: 2em;
}
footer {
  background: #f0f0f0;
  padding: 1em;
  text-align: center;
}
.custom-navbar {
  background-color: #250d19; /* Rojo atrápalo - puedes cambiarlo */
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.hero {
  background: url("../jamaica.png") no-repeat center center;
  background-size: cover;
  height: 70vh;           /* Altura del área de bienvenida */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.search-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}
