{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section class="hero"
  style="background: url('{{ url_for('static', filename='fondo.webp') }}') no-repeat center center;
         background-size: cover;
         min-height: 90vh;
         margin: 0;
         padding: 0;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;">
    <h2>Bienvenido al Sistema de Gestión de Reservas</h2>
    <p>Selecciona una opción del menú para comenzar.</p>
</section>
{% endblock %}