{% extends "base.html" %}
{% block title %}Reservas{% endblock %}
{% block content %}
  <h2>Listado de Reservas</h2>
  <table border="1">
    <tr>
      <th>ID</th><th>Cliente</th><th>Habitación</th><th>Fecha inicio</th><th>Fecha fin</th><th>Estado</th>
    </tr>
    {% for r in reservas %}
    <tr>
      <td>{{ r.id }}</td>
      <td>{{ r.cliente.nombre }}</td>
      <td>{{ r.habitacion.tipo }}</td>
      <td>{{ r.fecha_inicio }}</td>
      <td>{{ r.fecha_fin }}</td>
      <td>{{ r.estado }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
